/*--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6
Large: 1.8

- Letter spacing
-0.5px
0.75px

--- 02 COLORS

-Colors: Logo:#ffa500
-Tints
Background buttons header:#ffae1a

- Shades: 


- Accents:
- Greys

#888
#767676 (lightest grey allowed on #fff)
#6f6f6f (lightest grey allowed on #fdf2e9)
#555
#333

--- 05 SHADOWS


--- 06 BORDER-RADIUS

Default: 9px
Medium: 11px

--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
/* 



*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:focus {
  outline: none;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Inter", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  min-width: 150rem;
}
/* =================================
            General CSS
==================================== */
.page-title {
  font-size: 1.6rem;
  text-align: center;
  width: 100%;
  padding: 2rem;
  grid-column: 1/-1;
  color: #10a9e2;
  background-color: #fff7e8;
}
.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}
.grid {
  display: grid;
  gap: 9.6rem;
}
.grid--2-cols {
  grid-template-columns: 1fr 1fr;
}
.icon {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  color: #555;
  /* transition: 0.4s; */
}
.icon:hover {
  color: #ffa500;
}
.hidden {
  display: none;
  z-index: 2;
}
/* Pentru a scrie elimina sagetile de la input field, numeric */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
.margin-rsm {
  margin-right: 1rem;
}
.margin-tsm {
  margin-top: 1rem;
}
/* ================================
Elements CSS- index page  -Navigation
==================================== */
.nav-bar,
.nav-bar-links {
  display: flex;
  flex-direction: row;

  background-color: #000131;
  align-items: center;
}
.nav-bar .logo img {
  max-width: 25rem;
  display: block;
}
.nav-bar-links {
  list-style: none;
  gap: 2.4rem;
  margin: 0 6.5rem;
  text-decoration: none;
  justify-content: center;
}
.nav-bar-link a:link,
.nav-bar-link a:visited {
  text-decoration: none;
  display: block;
  text-align: center;
  background-color: #ffae1a;
  color: #000;
  padding: 0.8rem 1rem;
  font-weight: 500;
  border-radius: 1rem;
  font-size: 1.6rem;
  transition: background-color 0.3s;
  width: 14rem;
}
.nav-bar-link a:hover,
.nav-bar-link a:active {
  background-color: #ffd78d;
}

/* ================================
Elements CSS- index page  -heading
==================================== */
.header {
  background-image: url("../img/header.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  text-align: center;
  height: 56rem;

  margin-bottom: 2.5rem;
  position: relative;
  flex-shrink: 1;
}
.header-primary {
  display: block;
  color: #ffae1a;
  font-size: 6.4rem;
  margin: 12rem 0 11rem 0;
  /* padding: 18rem 28rem; */
}
/* .btn-user-create:link,
.btn-user-create:visited {
  background-color: #ffae1a;
}
.btn-user-create:hover,
.btn-user-create:active {
} */

.btn-user {
  background-color: #ffae1a;
  border-radius: 1rem;
  border: none;
  font-size: 2.4rem;
  cursor: pointer;
  padding: 1rem 2.4rem;
  font-weight: 600;
  color: #333;
  /* margin: 3rem 82rem; */
}
.btn-user:hover {
  background-color: #ffd78d;
}
/* ================================
Elements CSS- index page  -Create login user
==================================== */
.screen-login {
  background-color: #fff7e8;
  position: absolute;
  top: 10rem;
  left: 28rem;
  width: 70%;
  height: 70%;
  z-index: 1;
}
.screen-login-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
}
.login-side {
  background-color: #ffefd1;
}
.login-new-side {
  background-color: #fff7e8;
}
.login-title {
  font-size: 3.4rem;
  color: #ffa500;
  margin: 8rem 0;
}
.login-title span {
  color: #10a9e2;
}
.form-login {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 19rem;
  gap: 2rem;
  margin-left: 10rem;
}
.form-login label {
  font-size: 1.8rem;
  font-weight: 500;
  align-self: center;
  justify-self: self-start;

  width: 18rem;
}
.form-login input {
  padding: 0.4rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #ffffff;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.btn-user-login {
  font-weight: 500;
  grid-column: 1/-1;
  margin-top: 6rem;
}
.btn-user-create {
  font-weight: 500;
  grid-column: 1/-1;
}
.checkbox {
  margin: auto auto;
}
.icon-close {
  width: 4rem;
  height: 4rem;
  position: absolute;
  right: 1rem;
  top: 1rem;
}

/* ================================
Elements CSS- index page  -method
==================================== */
.methods-title {
  height: 8rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
}
.header-secondary {
  color: #ffa500;
  font-size: 2.4em;
  align-self: center;
  padding: 0 2rem;
}
.header-secondary span {
  color: #10a9e2;
}
.overview-methods {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 3rem;
}
.method-1 {
  grid-column: 1/3;
}
.method-2 {
  grid-column: 3/5;
}
.method-3 {
  grid-row: 3/4;
  grid-column: -5/-3;
}
.method-4 {
  grid-row: 2/3;
  grid-column: 1/3;
}
.method-5 {
  grid-row: 2/3;
  grid-column: 3/5;
}
.method-6 {
  grid-column: -3/-1;
  grid-row: 3/3;
}
.img-equipment {
  height: 23.2rem;
  justify-content: center;
  align-content: center;
}
.img-equipment.a {
  margin-right: 1rem;
}
.method-title {
  background-color: #fff7e8;
  font-size: 2.4rem;
  text-align: center;
  color: #ffa500;
  padding: 3rem 0;
}
.method-container {
  display: grid;
  background-color: #fff7e8;
  grid-template-columns: 1fr 1fr;
  padding-left: 2.5rem;

  padding-bottom: 3rem;
}
.method-attributes {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.method-attribute {
  font-size: 1.6rem;
  line-height: 1.3;
  color: #10a9e2;
  margin: 1rem 4rem;
}
/* ================================
Elements CSS -footer
==================================== */
.footer {
  font-size: 1.4rem;
  text-align: center;
  height: 6rem;
  padding-top: 2.3rem;
  background-color: #fff7e8;
  margin-top: 3rem;
}
.footer-side {
  margin-top: 1rem;
  padding: 0.8rem;
  height: 3rem;
}
.overview-footer-side {
  margin-top: 0rem;
  padding: 0.8rem;
  height: 3rem;
}
/* ================================
Elements CSS- equipment-list page control
==================================== */

.control {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.control-main {
  grid-column: 1/-1;
  grid-row: 2/3;
  display: flex;
  gap: 4rem;

  justify-content: center;
}
.control-btn,
.control-select {
  border: none;
  padding: 1rem;
  background-color: #ffae1a;
  width: 16rem;
  cursor: pointer;
  font-style: inherit;
}
.control-btn:hover,
.control-select:hover {
  background-color: #ffd78d;
}

/* ================================
Elements CSS- equipment-list General parts
==================================== */

.eq-label {
  /* Sets label size for list elements in page equipment list */
  font-size: 1.6rem;
  padding: 0.2rem;
  align-self: center;
}
.eq-row-bh {
  /* Sets row background color, width and height for list elements in page equipment list */
  background-color: #fff7e8;
  margin-top: 1rem;
  width: 50rem;
  padding: 0.2rem;
  height: 3rem;
  justify-content: space-between;
  display: flex;
}
.eq-input-value {
  border: none;
  width: 15rem;
  margin-left: 1rem;
  padding: 0.2rem;
}
.eq-input-selection {
  border: none;
  margin-left: 1rem;
  padding: 0.2rem;
  font-family: inherit;
  width: 20rem;
}
/* ================================
Elements CSS- equipment-list control equipment characteristics
==================================== */
.control-equipment {
  min-height: 53rem;
  background-color: #88d4f1;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

/* ================================
Elements CSS- equipment-list control business unit(project team)
==================================== */

.control-unit {
  min-height: 12rem;
  background-color: #88d4f1;
  display: grid;
  justify-content: center;
  grid-template-rows: 2fr 1fr 8fr;
}
.control-unit--1,
.control-unit--2 {
  display: grid;
  grid-template-columns: 6fr 1fr;
}
.eq-icon-add,
.eq-icon-close {
  padding-top: 1rem;
  padding-left: 1rem;
  align-self: center;
}

.control-unit h4 {
  font-size: 1.8rem;
  text-align: center;
  margin-top: 3rem;
}
.control-unit h4 span {
  color: #333;
}
.unit p {
  font-size: 1.6rem;
}
/* ================================
Elements CSS- Test duration - main buttons
==================================== */
.td-main {
  display: flex;
  margin-left: 2rem;
}
.td-overview {
  background-color: #0e98cb;
  min-height: 79vh;

  margin: 0 auto;
}
.td-overview {
  display: grid;
  grid-template-columns: 1fr 1fr 6fr;
}
.td-overview--1 {
  text-align: start;
  background-color: #10a9e2;
  margin: 1rem 0 1rem 1rem;
  padding: 1rem;
}
.project-search {
  border: none;
  padding: 1rem;
  background-color: #ffae1a;
  width: 15rem;
  cursor: pointer;
  font-style: inherit;
  color: #333;
  font-style: inherit;
  color: inherit;
}
.project-search:hover {
  background-color: #ffd78d;
}
.td-add-icon {
  width: 1.5rem;
  height: 1.5rem;
  padding: 0;
  margin: 0;
  text-align: start;
}
.td-btn-add {
  width: 4rem;
}
.td-left {
  margin-left: 50rem;
}
.leg-add {
  display: flex;
}
.td-overview--1-title {
  font-size: 1.3rem;
  line-height: 1.1;
}
.overview-width {
  width: 19rem;
}
.td-overview--2 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 1rem;
  margin: 1rem;
  background-color: #58c3eb;
  padding: 1rem;
}
.td-overview--2-title {
  font-size: 2rem;
  text-align: center;
}
.td-overview--3 {
  background-color: #88d4f1;
  margin: 1rem 1rem 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.td-overview--3-head p {
  font-size: 3rem;
  text-align: center;
  margin-top: 1rem;
}
.td-overview--3-head p span {
  color: #222;
}

.td-overview--3-body--1 {
  display: flex;
  justify-content: center;
}
.td-overview--3-body--1 p {
  background-color: #fff7e8;
}
.td-check-test {
  cursor: pointer;
}
.td-overview--3-body--1 thead {
  background-color: #cfeef9;
}
/* ================================
Elements CSS- Climatic Overview former Usefull
==================================== */
.overview {
  background-color: #10a9e2;
  min-height: 79vh;
}
.eq-overview::before {
  content: "";
  padding: 0.5rem;
}
.eq-list,
.eq-list th,
.eq-list td {
  border: 0.1rem solid #222;
}
.eq-list {
  width: 70%;
  background-color: #10a9e2;
  border-collapse: collapse;
  margin: 0 auto;
}

.eq-list th {
  font-size: 1.8rem;
  text-align: center;
  padding: 1rem 0;
  background-color: #88d4f1;
}
.eq-list td {
  font-size: 1.6rem;
  text-align: center;
  padding: 0.4rem;
}
.eq-list tr {
  background-color: #e7e5e5;
}
.eq-list tr:nth-child(odd) {
  background-color: #ffffff;
}

.eq-list tr:hover {
  background-color: #f3e2c1;
}
/* ================================
Elements CSS - Planning
==================================== */

.planning-list,
.planning-list th,
.planning-list td {
  border: 0.001rem transparent #222;
}
.planning-list {
  background-color: #10a9e2;
  border-collapse: collapse;
}
.planning-list thead {
  border: 0rem;
  display: flex;
}
.planning-list thead th {
  width: 30rem;
}
.planning-list tr {
  display: flex;
}
.planning-list tr td {
  width: 30rem;
}
.planning-list th {
  font-size: 1.8rem;
  text-align: center;
  padding: 1rem 0;
  background-color: #88d4f1;
}

.planning-list td {
  font-size: 1.6rem;
  text-align: start;
  padding: 0.4rem;
}
.planning-list tr {
  background-color: #e7e5e5;
}
.planning-list tr:nth-child(odd) {
  background-color: #ffffff;
}

.planning-list td:hover {
  background-color: #f3e2c1;
}
.planning-testname {
  display: flex;
  justify-content: start;
  overflow: hidden;
  height: 2.2rem;
}
